# Ignore zsh history file
.zsh_history

# Ignore specific .zcompdump file, replace special characters with wildcard or exact match
.zcompdump*

# Ignore global .zcompdump file
.zcompdump

# ingnore zsh_sessions
.zsh_sessions/
